#Foto{
    position: relative;  
    max-width: 500px;
    max-height: 500px;
    margin-left: 150px;
    margin-top: 75px;
}

#content {
  display: grid;
  grid-template-columns: 50% 50%;
}

#tulisan{
  display: grid;
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  margin-right: 75px;
}

#Salam{
  margin-top: 25px;
  text-align : center; 
}
img{
  border-radius: 50%;
}

h2{
  text-align : center;
}

#Profil{
  position: relative;
  max-width: 500px;
  max-height: 300px;
}

#Deskripsi{
  position: relative;
  margin-top: 25px;
  max-width: 500px;
  max-height: 300px;
}